[alias]
	aa = add --all
	br = branch
	ci = commit
	co = checkout
	df = diff
	st = status
	uc = checkout --
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[core]
	excludesfile = /Users/u702140/.gitignore
[color]
	ui = true
[merge]
	log = true
	tool = vimdiff
[push]
	default = current
[user]
	name = Bram Rohde
	email = bram@br4m.nl
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
