[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	st = status
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[merge]
	log = true
	tool = vimdiff
[push]
	default = current
[user]
	name = Bram Rohde
	email = bramr@outlook.com
