[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	st = status
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[merge]
	log = true
	tool = vimdiff
[user]
	name = Bram Rohde
	email = mailforbram@gmail.com
